{%extends "padre.html" %}

{%block contenido%}
    <body>
    <h1 style="margin: 10px; margin: 30 auto; color: #ffffff;">Resutado de la busqueda</h1>
    </body>
    {%if librerias%}
    <ul> 
        {% for libreria in librerias %}
            <li> Nombre:  {{libreria.nombre}}, editorial: {{libreria.Editorial}}, Año de publicación: {{libreria.año_publicacion}}</li>

        {%endfor%}

    </ul>
    {% else %}
        <p style="margin: 10px; margin: 30 auto">No se encontraron resultados</p>
    {% endif %}

    <a href="javascript:history.back()" style="margin: 10px; margin: 30 auto; color: #ffffff;">Volver Atrás</a>
    </form>
{%endblock%}
